%h2 新規登録
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .panel-group
    .panel.panel-primary 
      .panel-heading
        必須入力
      .panel-body
        = f.input :email, autofocus: true
        = f.input :password, autocomplete: "off", :hint => t(:'simple_form.hints.user.password_regist', :min_length => @minimum_password_length.to_s)
        = f.input :password, autocomplete: "off", :label => t(:'simple_form.labels.user.password_confirmation'), :hint => t(:'simple_form.hints.user.password_confirmation')
    .panel.panel-default 
      .panel-heading
        任意入力
      .panel-body
        = f.input :postal_code, autocomplete: "postal-code"
        = f.input :address_level1, autocomplete: "address-level1"
        = f.input :address_level2, autocomplete: "address-level2"
        = f.input :address_line1, autocomplete: "address-line1"
        = f.input :address_line2, autocomplete: "address-line2"
        = f.input :family_name, autocomplete: "family-name"
        = f.input :given_name, autocomplete: "given-name"
  = f.submit "新規登録", :class => 'btn btn-default'
= render "devise/shared/links"