%h2 新規登録
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .panel-group
    .panel.panel-primary 
      .panel-heading
        必須入力
      .panel-body
        = f.input :email, autofocus: true
        = f.input :password, autocomplete: "off", hint: t(:'simple_form.hints.user.password_regist', min_length: @minimum_password_length.to_s)
        = f.input :password, autocomplete: "off", label: t(:'simple_form.labels.user.password_confirmation'), hint: t(:'simple_form.hints.user.password_confirmation')
    .panel.panel-default 
      .panel-heading
        任意入力
      .panel-body
        = render "devise/shared/user_info", f: f
  = f.submit "新規登録", class: 'btn btn-default'
= render "devise/shared/links"