%h2 
  ショッピングカート
%div.cart
  %table
    %thead
      %tr
        %th.product{:colspan => 2}
          商品
        %th 
          金額
        %th 
          個数
        %th 
          総額
    %tbody
      - @order.order_items.each do |item|
        %tr
          %td
            = image_tag show_photo_product_path(item.product), size: "100x80"
          %td.product_detail 
            %h4
              = link_to item.product.name, item.product
            %span
              = item.product.description
          %td.number
            = number_to_currency(item.unit_price, :format => "%u%n", :unit => "￥", :precision => 0) 
          %td.number 
            = item.quantity
          %td.number 
            = number_to_currency(item.total_price, :format => "%u%n", :unit => "￥", :precision => 0) 
    %tfoot
      %tr
        %th{:colspan => 4} 
          合計
        %th
          = number_to_currency(@order.subtotal, :format => "%u%n", :unit => "￥", :precision => 0) 
