.panel-group
  .panel.panel-default
    .panel-heading
      配送日時
    .panel-body  
      .row
        .col-sm-4
        .col-sm-8
          = current_order.disp_delivery_datetime    
    .panel-heading
      お届け先住所
    .panel-body  
      .row
        .col-sm-4
        .col-sm-8
          = current_user.postal_code
      .row
        .col-sm-4
        .col-sm-8
          = current_user.disp_address
      .row
        .col-sm-4
        .col-sm-8
          = current_user.disp_user_name
  .panel.panel-default
    = render "order_items/order_detail", order: current_order, order_items: order_items, is_cart: false          

  