= render "checkout_progress", progress_info: get_progress_info(3)                 
= simple_form_for(current_order, url: check_out_path(current_order), html: { method: :put }) do |f|
  .panel.panel-default
    .panel-heading
      ご購入額合計
    .panel-body  
      .row
        .col-sm-4
          商品合計金額(税抜き)
        .col-sm-8
          = disp_money @order.subtotal
      .row
        .col-sm-4
          代引き手数料
        .col-sm-8
          = disp_money @order.cash_on_delivery
      .row
        .col-sm-4
          送料
        .col-sm-8
          = disp_money @order.shipping
      .row
        .col-sm-4
          消費税
        .col-sm-8
          = disp_money @order.tax
    .panel-heading
      総額
    .panel-body  
      .row
        .col-sm-4
        .col-sm-8
          %strong
            = disp_money @order.total

        
            