= render "checkout_progress", set_width: "width: 45%", one_class: "primary-color", two_class: "primary-color", three_class: "no-color", four_class: "no-color"          
= simple_form_for(current_order, url: check_out_path(current_order), html: { method: :put }) do |f|
  .panel.panel-default
    .panel-heading
      配送情報
    .panel-body
      .row
        .col-sm-4
          %strong
            配送日時
        .col-sm-8
          %label.control-label.string.optional
            配送日
            #datepicker-container
              = f.text_field :delivery_date, :class => "form-control"
            %label.control-label.string.optional            
              時間帯
            = f.select :delivery_time, options_for_select(["8-12", "12-14", "14-16", "16-18", "18-20", "20-21"]), {}, :class => "form-control"
  = f.submit "次へ", :class => 'btn btn-primary pull-right'
        
            