= simple_form_for [:admin, product] do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :price
  = f.input :sort
  = f.input :photo, as: :file
  %img#blah
  %hidden#x
  %hidden#y
  %hidden#w
  %hidden#h
  = f.submit class: 'btn btn-primary pull-right'
  = link_to "一覧に戻る", admin_products_path, class: 'btn btn-default'