= simple_form_for [:admin, product] do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :price
  = f.input :sort
  = f.input :photo, as: :file
  = f.submit class: 'btn btn-primary pull-right'