= simple_form_for [:admin, product] do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :price
  = f.input :sort
  = f.input :photo, as: :file
  %img#blah
  #preview-pane
    %img#preview
  = f.hidden_field :x
  = f.hidden_field :y
  = f.hidden_field :w
  = f.hidden_field :h
  = f.submit class: 'btn btn-primary pull-right'
  = link_to "一覧に戻る", admin_products_path, class: 'btn btn-default'