%h2
  ユーザー情報参照
= simple_form_for [:admin, @user] do |f|
  = f.input :email, disabled: true
  = f.input :password, disabled: true
  = f.input :sign_in_count, disabled: true
  = f.input :current_sign_in_at, disabled: true
  = f.input :last_sign_in_at, disabled: true
  = f.input :current_sign_in_ip, disabled: true
  = f.input :last_sign_in_ip, disabled: true
  = f.input :family_name, disabled: true
  = f.input :given_name, disabled: true
  = f.input :postal_code, disabled: true
  = f.input :address_level1, disabled: true
  = f.input :address_level2, disabled: true
  = f.input :address_line1, disabled: true
  = f.input :address_line2, disabled: true
  = f.input :auth_type, disabled: true
  = f.input :created_at, disabled: true
  = f.input :updated_at, disabled: true
= link_to "一覧に戻る", admin_users_path, class: 'btn btn-default' 