%div.content
  %div.column
    %div.image-box
      = image_tag show_photo_product_path(@product), size: "250x200"
  %div.column
    %h1.product-title
      = @product.name
    %div
      = @product.description
    %div
      %h6 価格：
      %span.order-total
        = disp_money(@product.price)
      - if user_signed_in?
        %div.add_cart
          = form_for @order_item do |f|
            = f.number_field :quantity, value: @order_item.quantity
            = f.hidden_field :product_id, value: @product.id
            = f.submit "カートに追加"