%div.content
  %div.column
    %div.img-thumbnail
      = image_tag show_photo_product_path(@product), size: "250x200"
  %div.column
    %h1.product-title
      = @product.name
    %div
      = @product.description
    %div
      %h6 価格：
      %span.order-total
        = disp_money(@product.price)
      - if user_signed_in?
        %div.add-cart
          = simple_form_for @order_item do |f|
            .form-inline
              = f.number_field :quantity, value: @order_item.quantity, class: 'form-control', :min => 1, :max => 999999
              = f.hidden_field :product_id, value: @product.id
              = f.submit "カートに追加", class: 'btn btn-primary', :id => 'add_to_cart_button'