!!! 5
%html
  %head
    %title さくらマーケット
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %header
      %nav
        %ul
          %li 
            %h1
              = link_to "さくらマーケット", root_path
          %li 
            %a ああああ
          %li 
            %a いいいい
          %li 
            = link_to "ショッピングカート", order_items_path
          %li 
            - if user_signed_in? 
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path
    %div.main
      = yield