!!! 5
%html
  %head
    %title さくらマーケット
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to "さくらマーケット", root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav 
          %li 
            = link_to "お買い物", root_path
          %li 
            = link_to "ショッピングカート", order_items_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to "アカウント情報", account_path
            - if current_user.admin?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown"}
                  マスタ管理
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to "ユーザ管理", account_path
                  %li
                    = link_to "商品管理", account_path
          %li 
            - if user_signed_in? 
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              = link_to "ログイン", new_user_session_path
    %div.container
      = yield